body {
  padding-top: 25px;
  padding-left: 150px;
  font-family: 'Titillium Web', sans-serif;
}

.footer{
  background-color: #FF4500;
  position: absolute;
  bottom: -150px;
  left: 0;
  height: 150px;
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

footer p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  color: black;
  padding-top: 400px;
  padding-right: 10px;
}

footer img {
 height: 30px;
 padding-top: 200px;
}

.databaselogo{
  font-size: 13px;
}

h1{
  font-size: 35px;
}

p{
  padding-bottom: 30px;
}

.brand{
  font-size: 2em;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.wrapper {
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto;
  box-sizing: border-box;
}

.databaselogo{
  display: flex;
  font-size: 10px;
}

.databaseInfo{
  display: run-in;
  padding-bottom: 20px;
}

.database{
  padding-top: 20px;
}
