.html{
  padding-left: 20px;
  font-family: 'Titillium Web', sans-serif;
}

.brand{
  font-size: 2em;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.wrapper {
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto;
  box-sizing: border-box;
}

.databaselogo{
  display: flex;
  font-size: 10px;
}

.databaseInfo{
  display: run-in;
  padding-bottom: 20px;
}

.database{
  padding-top: 20px;
}
